<div class="header">
        <h1>Please select two majors from the following list:</h1>
    </div>
    <div class="content">
        <div class="categories">
          
          <button 
            (click)="selectMajor(majors[0])" 
            [style.backgroundColor]="isSelected(majors[0]) ? '#e95c73' : '#FFC0CB'">
            {{ isSelected(majors[0]) ? '' : '' }} 
            Computer Science
          </button>
          
          <button 
          (click)="selectMajor(majors[1])" 
          [style.backgroundColor]="isSelected(majors[1]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[1]) ? '' : '' }}
            Business and Management
          </button>
          
          <button 
          (click)="selectMajor(majors[2])" 
          [style.backgroundColor]="isSelected(majors[2]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[2]) ? '' : '' }}
            Nursing
          </button>
          
          <button 
          (click)="selectMajor(majors[3])" 
          [style.backgroundColor]="isSelected(majors[3]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[3]) ? '' : '' }}
            Engineering (General)
          </button>
          
          <button 
          (click)="selectMajor(majors[4])" 
          [style.backgroundColor]="isSelected(majors[4]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[4]) ? '' : '' }}
            Biology/Biological Sciences
          </button>
          
          <button 
          (click)="selectMajor(majors[5])" 
          [style.backgroundColor]="isSelected(majors[5]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[5]) ? '' : '' }}
            Psychology
          </button>
          
          <button 
          (click)="selectMajor(majors[6])" 
          [style.backgroundColor]="isSelected(majors[6]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[6]) ? '' : '' }}
            Finance and Accounting
          </button>
          
          <button 
          (click)="selectMajor(majors[7])" 
          [style.backgroundColor]="isSelected(majors[7]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[7]) ? '' : '' }}
            Mechanical Engineering
          </button>
          
          <button 
          (click)="selectMajor(majors[8])" 
          [style.backgroundColor]="isSelected(majors[8]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[8]) ? '' : '' }}
            Political Science/Government
          </button>
          
          <button 
          (click)="selectMajor(majors[9])" 
          [style.backgroundColor]="isSelected(majors[9]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[9]) ? '' : '' }}
            Economics
          </button>

          <button 
          (click)="selectMajor(majors[10])" 
          [style.backgroundColor]="isSelected(majors[10]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[10]) ? '' : '' }}
            Electrical Engineering
          </button>

          <button 
          (click)="selectMajor(majors[11])" 
          [style.backgroundColor]="isSelected(majors[11]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[11]) ? '' : '' }}
            Mathematics
          </button>

          <button 
          (click)="selectMajor(majors[12])" 
          [style.backgroundColor]="isSelected(majors[12]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[12]) ? '' : '' }}
            English Language and Literature
          </button>

          <button 
          (click)="selectMajor(majors[13])" 
          [style.backgroundColor]="isSelected(majors[13]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[13]) ? '' : '' }}
            Chemical Engineering
          </button>

          <button 
          (click)="selectMajor(majors[14])" 
          [style.backgroundColor]="isSelected(majors[14]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[14]) ? '' : '' }}
            History
          </button>

          <button 
          (click)="selectMajor(majors[15])" 
          [style.backgroundColor]="isSelected(majors[15]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[15]) ? '' : '' }}
            Civil Engineering
          </button>

          <button 
          (click)="selectMajor(majors[16])" 
          [style.backgroundColor]="isSelected(majors[16]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[16]) ? '' : '' }}
            Environmental Science
          </button>

          <button 
          (click)="selectMajor(majors[17])" 
          [style.backgroundColor]="isSelected(majors[17]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[17]) ? '' : '' }}
            Marketing/Marketing Management
          </button>

          <button 
          (click)="selectMajor(majors[18])" 
          [style.backgroundColor]="isSelected(majors[18]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[18]) ? '' : '' }}
            Physics
          </button>

          <button 
          (click)="selectMajor(majors[19])" 
          [style.backgroundColor]="isSelected(majors[19]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[19]) ? '' : '' }}
            Health Sciences/Pre-med
          </button>

          <button 
          (click)="selectMajor(majors[20])" 
          [style.backgroundColor]="isSelected(majors[20]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[20]) ? '' : '' }}
            Information Technology (IT)
          </button>

          <button 
          (click)="selectMajor(majors[21])" 
          [style.backgroundColor]="isSelected(majors[21]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[21]) ? '' : '' }}
            Biomedical Engineering
          </button>

          <button 
          (click)="selectMajor(majors[22])" 
          [style.backgroundColor]="isSelected(majors[22]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[22]) ? '' : '' }}
            Communications
          </button>

          <button 
          (click)="selectMajor(majors[23])" 
          [style.backgroundColor]="isSelected(majors[23]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[23]) ? '' : '' }}
            Architecture
          </button>

          <button 
          (click)="selectMajor(majors[24])" 
          [style.backgroundColor]="isSelected(majors[24]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[24]) ? '' : '' }}
            Education
          </button>

          <button 
          (click)="selectMajor(majors[25])" 
          [style.backgroundColor]="isSelected(majors[25]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[25]) ? '' : '' }}
            Computer Engineering
          </button>

          <button 
          (click)="selectMajor(majors[26])" 
          [style.backgroundColor]="isSelected(majors[26]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[26]) ? '' : '' }}
            Art & Design
          </button>

          <button 
          (click)="selectMajor(majors[27])" 
          [style.backgroundColor]="isSelected(majors[27]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[27]) ? '' : '' }}
            Pharmacy
          </button>

          <button 
          (click)="selectMajor(majors[28])" 
          [style.backgroundColor]="isSelected(majors[28]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[28]) ? '' : '' }}
            Nutrition/Dietetics
          </button>

          <button 
          (click)="selectMajor(majors[29])" 
          [style.backgroundColor]="isSelected(majors[29]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[29]) ? '' : '' }}
            Software Engineering
          </button>

          <button 
          (click)="selectMajor(majors[30])" 
          [style.backgroundColor]="isSelected(majors[30]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[30]) ? '' : '' }}
            Anthropology/Sociology
          </button>

          <button 
          (click)="selectMajor(majors[31])" 
          [style.backgroundColor]="isSelected(majors[31]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[31]) ? '' : '' }}
            International Relations
          </button>

          <button 
          (click)="selectMajor(majors[32])" 
          [style.backgroundColor]="isSelected(majors[32]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[32]) ? '' : '' }}
            Criminal Justice
          </button>

          <button 
          (click)="selectMajor(majors[33])" 
          [style.backgroundColor]="isSelected(majors[33]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[33]) ? '' : '' }}
            Physical Therapy/Kinesiology
          </button>

          <button 
          (click)="selectMajor(majors[34])" 
          [style.backgroundColor]="isSelected(majors[34]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[34]) ? '' : '' }}
            Foreign Languages
          </button>

          <button 
          (click)="selectMajor(majors[35])" 
          [style.backgroundColor]="isSelected(majors[35]) ? '#e95c73' : '#FFC0CB'">
          {{ isSelected(majors[35]) ? '' : '' }}
            Religious Studies
          </button>

        </div>

        <button 
            (click)="generateRecommendations()" 
            [disabled]="selectedMajors.length !== 2"
            [class.active]="selectedMajors.length === 2">
            Generate Recommendations
        </button>

    </div>