.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  flex-grow: 1;
  padding: 10%;
}

h1 {
  font-size: 6em;
  color: #83c5db;
  margin: 0;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
  font-size: 2em;
  color: #63bddb;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: lighter;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.button {
  padding: 10px;
  width: 150px;
  border: none;
  border-radius: 20px;
  background-color: #FFC0CB;
  color: rgb(250, 127, 148);
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 1000;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
}

.button:hover {
  background-color: #e95c73;
}

.hero-image img {
  width: auto;
  max-height: 70vh;
  margin-left: 100px;
  margin-right: auto;
  padding: 20px;
}

.site-footer {
  border-top: 2px solid #63bddb; 
  display: flex;
  align-items: center;
  padding-top: 10px;
  margin-top: 75px;
}

.footer-container {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left, .footer-right {
  display: flex;
  align-items: center;
  color: #0b94c2;
  font-weight: bold;
}

.footer-logo {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.footer-left p, .footer-right a {
  text-align: center;
}

.footer-link {
  color: inherit;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline; 
}
