.recommendations-container h2 {
  color: #54b2d1;
  text-align: center;
}

.edit-majors-button-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.edit-majors-button-container .button {
  padding: 8px 20px; 
  width: auto;
  font-size: 1.2em;
}

  
  .button {
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background-color: #FFC0CB;
    color: rgb(250, 127, 148);
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
  }
  
  .button:hover {
    background-color: #e95c73;
  }
  
  
  

  
  